body {
    font: 16px/1.5 Georgia, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    padding: 1.0em;
}

p {
    padding-left: 1em;
}

ul {
    padding: 2em;
    padding-left: 4em;
}

@media (min-width: 500px) {
    body {
        font-size: var(--font-size-500px);
    }
}

@media (min-width: 700px) {
    body {
        font-size: var(--font-size-700px);
   }
}

@media (min-width: 1600px) {
    body {
        font-size: var(--font-size-1600px);
    }
}