* {
    box-sizing: border-box;
}

body {
    background: #fbfbfb;
}

.wrapper {
    padding-top: 2em;
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.letter {
    background-color: black;
    color: white;
    padding: 20px;
}