* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Noto Sans JP', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, button, input, option, select, form {
    font: inherit;
}

header {
    background-color: orangered;
    height: 60px;
    display: flex;
}

header ul {
    flex: 1 1 50%;
    display: flex;
    list-style: none;
    align-items: center;
}

header ul li {
    padding-left: 3em;
}

header ul li a {
    text-decoration: none;
    color: rgb(245, 245, 245);
}

header .search-bar-acc {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .search-bar-acc form {
    display: flex;

}

header .search-bar-acc form input {
    width: 350px;
    height: 30px;
    border: 0;
}

header .search-bar-acc form button {
    background-color: #CCC;
    border: 0;
    padding: 0 1em;
    cursor: pointer;
}

header .search-bar-acc form i {
    color: white;
    font-size: 14px;
}

header .search-bar-acc i {
    margin-right: 0.5em;
}

header .search-bar-acc a {
    margin-right: 3em;
    text-decoration: none;
    color: rgb(245, 245, 245);
}

main {
    padding: 2em 5em;
}

main .rooms {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .rooms .r {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

main .rooms .r img {
    height: 250px;
    width: 200px;
    flex: 1 1 100%;
}

main .rooms .r span {
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
}