* {
    box-sizing: inherit;
}

body {
    background-color: #fbfbfb;
}

.site {
    padding-top: 1em;
    display: grid;
    width: 95%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

header {
    grid-column: span 3;
}

main {
    grid-column: span 2;
}

aside {
    grid-column: span 1;
}

footer { 
    grid-column: span 3;
}

header, main, aside, footer {
    background-color: black;
    color: white;
    padding: 20px;
}
